{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/app.css')}}">
</head>
<body>
{% block main %}

<h1>Contact Form</h1>
<p>Fill in this form to contact the site owners.</p>

<div>
<form method="post">
    {{form.csrf_token}}
    <div class="name">
    <p>Name<span>(Required)</span></p>
    {{form.name.label}}<br>{{form.name}}
    <br>
    </div>

    <div class="email">
    <p>Email<span>(Required)</span></p>
    {{form.email.label}}<br>{{form.email}}
    <br>
    </div>

    <div class="subject">
    <p>Subject<span>(Required)</span></p>
    {{form.subject.label}}<br>{{form.subject}}
    <br>
    </div>

    <div class="message">
    <p>Message<span>(Required)</span></p>
    {{form.message.label(class="label")}}<br>{{form.message}}
    <br>
    </div>

    <div class="submit">
    {{form.submit()}}
    </div>
</form>
</div>

{% endblock %}
</body>